/USER.WebApi/bin
/USER.WebApi/obj
/.vs/UserApi/DesignTimeBuild/.dtbcache
/.vs/UserApi/v16/Server/sqlite3/db.lock
/.vs/UserApi/v16/Server/sqlite3/storage.ide
/.vs/UserApi/v16/Server/sqlite3/storage.ide-shm
/.vs/UserApi/v16/Server/sqlite3/storage.ide-wal
